<h1>CART</h1>
{{#if cartProds}}
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Code</th>
            <th>Price</th>
            <th>Status</th>
            <th>Stock</th>
            <th>Category</th>
            <th>Thumbnails</th>
            <th>Quantity</th>
            <th>Remove</th>
        </thead>
        <tbody>
            {{#each cartProds}}
            <tr>
                <td>{{this._id}}</td>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.code}}</td>
                <td>{{this.price}}</td>
                <td>{{this.status}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.category}}</td>
                <td>
                    {{#each this.thumbnails}}
                    <img src="../../img/products/{{this}}" style="height: 200px">
                    {{/each}}
                </td>
                <td>{{this.quantity}}</td>
                <td><button onclick="removeBtn('{{this._id}}')">X</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <button class="centeredBtn" onclick="checkout('{{cartID}}')">¡Buy this cart!</button>
{{else}}
<h1>You don't have any products in cart</h1>
{{/if}}
<script>
    function removeBtn(productID) {
        const cartID = '{{cartID}}'
        removeProduct(productID, cartID)
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../../js/checkout.js"></script>
